<%- include('header.ejs') %>

<!-- Hero Section -->
<section class="cover bg-black w-full h-screen">
    <div class="relative flex h-screen content-center items-center justify-center pt-16 pb-32">
        <div class="absolute top-0 h-full w-full bg-cover bg-center">
            <img src="../images/bg-1.jpg" class="w-screen h-full">
        </div>
        <div class="absolute top-0 h-full w-full bg-black/75 bg-cover bg-center" />
        <div class="max-w-8xl container relative mx-auto mt-56">
            <div class="flex flex-wrap items-center">
                <div class="ml-auto mr-auto w-full px-4 text-center lg:w-11/12">
                    <h1 class="text-white my-8 font-extrabold tracking-wider text-8xl">
                        Health & Medical Center
                    </h1>
                    <h2 class="text-white text-2xl opacity-80 mt-8">
                        Consult your and your Family's health at Health<sup>2</sup> by
                        being at your ease.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="-mt-32 bg-gray-50 px-4 pb-20 pt-4 bg-white">
    <div class="container mx-auto">
        <div class="flex justify-around">
            <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <div class="p-6">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        AI model based diagnosis generator
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI diagnosis generators improve medical accuracy and efficiency through data-driven algorithms.
                    </p>
                </div>
            </div>
            <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <div class="p-6">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Accurate predictions
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        Accurate virtual diagnosis predictions improve patient care.
                    </p>
                </div>
            </div>
            <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <div class="p-6">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #0011ff;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Model trained on a large dataset
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        Leveraging extensive datasets, virtual diagnosis models achieve heightened accuracy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services-2 -->
<section>
    <div class="flex flex-row justify-around mt-[0rem] bg-white">
        <div class="basis-1/2 pt-10 pl-[2rem] pr-[4.5rem] bg-white text-[2.5rem] font-bold">
            <h2 class="text-center flex items-center h-full">
                Choose The best Service For Yourself And Your Family
            </h2>
        </div>
        <div class="basis-1/2 mt-[3.4rem] pr-10 text-[1.2rem] text-gray-700">
            <p>
                Selecting the right service for you and your family is a crucial decision. Your health and well-being are
                paramount, and it's essential to choose a healthcare facility that aligns with your needs and values.
            </p>
            <p class="mt-[2.4rem]">
                Look for a place with a strong reputation for delivering high-quality care and a commitment to staying
                at the forefront of medical advancements while maintaining a tradition of trust and compassion. Your
                family's health is a top priority, and the service you choose should provide a safe and welcoming
                environment for all your healthcare needs.
            </p>
        </div>
    </div>
    <hr class="flex-grow border-t border-gray-300 mt-[2.6rem] mb-10 ml-10 mr-10" />

    <div class="flex justify-between ml-[2rem] mr-[3rem]">
        <div class="flex justify-around">
            <div>
                <i class="fa-solid fa-check pr-3" style="color: #0953d3"></i>
            </div>
            <div class="font-bold">
                <h4>Constant Improvement</h4>
            </div>
        </div>
        <div class="flex justify-around">
            <div>
                <i class="fa-solid fa-check pr-3" style="color: #0953d3"></i>
            </div>
            <div class="font-bold">
                <h4>Commitment to Customers</h4>
            </div>
        </div>
        <div class="flex flex-row">
            <div>
                <i class="fa-solid fa-check pr-3" style="color: #0953d3"></i>
            </div>
            <div class="font-bold">
                <h4>Best Quality You Can Get</h4>
            </div>
        </div>
        <div class="flex flex-row">
            <div>
                <i class="fa-solid fa-check pr-3" style="color: #0953d3"></i>
            </div>
            <div class="font-bold">
                <h4>Many available services</h4>
            </div>
        </div>
    </div>
</section>

<!-- Our diagnosis -->
<section>
    <div class="flex mt-[8rem] justify-between w-full">
        <div class="w-1/4 overflow-hidden drop-shadow-md items-center justify-center">
            <div class="bg-white opacity-80 hover:opacity-100 w-full bg-cover overflow-hidden relative">
                <a href="/predicter-form/1"><img src="../images/fracture.jpg" alt="Fracture"
                        class="transform transition duration-1000 hover:scale-125 w-full" /></a>
                <h3
                    class="font-bold text-white text-3xl absolute cursor-pointer top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    Fracture
                </h3>
            </div>
        </div>

        <div class="w-1/4 overflow-hidden drop-shadow-md items-center justify-center">
            <div class="opacity-80 hover:opacity-100 w-full bg-cover overflow-hidden relative">
                <a href="/bloodReport-Analysis"><img src="../images/report-analysis.jpg" alt="Fracture"
                        class="transform transition duration-1000 hover:scale-125 w-full" /></a>
                <div class=" text-center">
                    <h3
                        class="font-bold text-white text-2xl absolute cursor-pointer top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        Report Analysis
                    </h3>
                </div>
            </div>
        </div>

        <div class="w-1/4 overflow-hidden drop-shadow-md items-center justify-center">
            <div class="bg-white opacity-80 hover:opacity-100 w-full bg-cover overflow-hidden relative">
                <a href="/predicter-form/4"><img src="../images/pexels-anna-shvets-4226219.jpg" alt="Fracture"
                        class="transform transition duration-1000 hover:scale-125 w-full" /></a>
                <h3
                    class="font-bold text-white text-3xl absolute cursor-pointer top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    Tumor
                </h3>
            </div>
        </div>
        <div class="w-1/4 overflow-hidden drop-shadow-md items-center justify-center">
            <div class="bg-white opacity-80 hover:opacity-100 w-full bg-cover overflow-hidden relative">
                <a href="#"><img src="../images/thyroid.jpg" alt="Fracture"
                        class="transform transition duration-1000 hover:scale-125 w-full" /></a>
                <h3
                    class="font-bold text-white text-3xl absolute cursor-pointer top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    Thyroid
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="bg-gray-50 px-4 pb-20 pt-4 bg-white flex justify-center">
    <div class="container mx-auto w-4/5 my-16">
        <div class="flex flex-wrap justify-between">
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        AI based models
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI diagnosis generators improve medical accuracy and efficiency.
                    </p>
                </div>
            </div>
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Blood Report Generation
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI streamlines blood analysis for faster and accurate results.
                    </p>
                </div>
            </div>
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Fracture Detection
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI enhances fracture diagnosis with advanced imaging analysis.
                    </p>
                </div>
            </div>
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Tumor Detection
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI aids early tumor identification for improved treatment.
                    </p>
                </div>
            </div>
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Thyroid Detection
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        AI offers precise thyroid condition assessment.
                    </p>
                </div>
            </div>
            <div class="relative flex w-1/4 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4"
                style="background-color: #F1F9FC;">
                <div class="p-8">
                    <div class="flex justify-center">
                        <i class="fa-solid fa-star" style="color: #ff0000;"></i>
                    </div>
                    <h5
                        class="mb-2 block font-sans text-center mt-4 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                        Medical Locker
                    </h5>
                    <p
                        class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                        Securely manage and access your health records with AI assistance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer.ejs') %>
<%- include('bottom.ejs') %>