<%- include('header.ejs') %>

<section class="cover bg-black w-full h-screen">
  <div class="relative flex h-screen content-center items-center justify-center pt-16 pb-32">
    <div class="absolute top-0 h-full w-full bg-cover bg-center">
      <img src="../images/bg-1.jpg" class="w-screen h-full">
    </div>
    <div class="absolute top-0 h-full w-full bg-black/75 bg-cover bg-center"></div>
    <div class="flex flex-col justify-center items-center absolute top-0 left-0 right-0 bottom-0">
      <div
        class="border-4 bg-white w-11/12 border-solid border-white mt-12 xsm:m-4 p-2 md:px-10 py-6 rounded-xl flex-col justify-center items-center">
        <div class="chat-container bg-sky-50 rounded-xl"></div>
        <div class="user-ques hidden"></div>
        <form class="test-form">
          <div class="flex justify-center mb-4" id="data-id"></div>
          <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-sky-50 h-full p-4">
            <div class="flex flex-row items-center h-16 rounded-xl w-full px-4">
              <div class="flex-grow ml-4">
                <div class="relative w-full">
                  <input placeholder="Have any questions..............?" type="text" type="text" id="input-text"
                    name="username"
                    class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10" />
                </div>
              </div>
              <div class="ml-4 flex items-center">
                <button
                  class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                  <input class="cursor-pointer" type="submit" value="Submit" />
                </button>
                <div class="login-username-error hidden m-2 ml-4 text-red-900"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector(".test-form");
  const userNameError = document.querySelector(".login-username-error");
  const userQues = document.querySelector(".user-ques");
  const chatContainer = document.querySelector(".chat-container");
  const userQuesElement = document.querySelector(".user-ques");
  const loadingImage = document.querySelector("#loading");
  const inputText = document.querySelector('#input-text');

  const conversationHistory = [];

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    userNameError.classList.remove('hidden')

    const username = form.username.value;
    userQues.textContent = username;
    inputText.value= '';

    try {
      const res = await fetch(`http://192.168.29.125:5000/remedies_ai`, {
        method: "POST",
        body: JSON.stringify({
          username: username,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      const data = await res.json();

      function displayConversation() {
        chatContainer.innerHTML = "";

        conversationHistory.forEach((entry) => {
          const messageDiv = document.createElement("div");
          messageDiv.classList.add("user-ques");
          messageDiv.textContent = entry.message;
          const newDiv = userQuesElement.insertAdjacentElement(
            "afterend",
            messageDiv
          );
          chatContainer.appendChild(newDiv);

          userQues.textContent = "";
          userNameError.textContent = "";
          userNameError.classList.add('hidden')
        });

        chatContainer.scrollTop = chatContainer.scrollHeight;
      }
      
      if (data.message) {
        conversationHistory.push({
          role: "user",
          message: username,
        });
        conversationHistory.push({
          role: "ai",
          message: data.message,
        });

        displayConversation();
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('footer.ejs') %>